{% extends "web.html" %}
{% block content %}

<form action ="/AgregarRestaurante" method ="post">

<div class="panel panel-default">
<div class="panel-heading"><h3> Agrega un restaurante: </h3></div>
<div class="panel-body"> <small>

<form class="form-horizontal">	

	<div class="form-goup">
	    <label for="building" class="control-label col-xs-3">Edificio</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="building" placeholder="edificio" name="building">
		</div>
	</div>

	<div class="form-goup">
	    <label for="coord1" class="control-label col-xs-3">Primera coordenada</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="coord1" placeholder="primera coordenada" name="coord1">
		</div>
	</div>

	<div class="form-goup">
	    <label for="coord2" class="control-label col-xs-3">Segunda coordenada</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="coord2" placeholder="segunda coordenada" name="coord2">
		</div>
	</div>

	<div class="form-goup">
	    <label for="street" class="control-label col-xs-3">Calle del restaurante</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="street" placeholder="calle" name="street">
		</div>
	</div>

	<div class="form-goup">
	    <label for="zipcode" class="control-label col-xs-3">Código postal</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="zipcode" placeholder="código postal" name="zipcode">
		</div>
	</div>

	<div class="form-goup">
	    <label for="borough" class="control-label col-xs-3">Barrio</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="borough" placeholder="barrio" name="borough">
		</div>
	</div>

	<div class="form-goup">
	    <label for="cuisine" class="control-label col-xs-3">Tipo de cocina</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="cuisine" placeholder="tipo de cocina" name="cuisine">
		</div>
	</div>

	<div class="form-goup">
	    <label for="name" class="control-label col-xs-3">Nombre del restaurante</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="name" placeholder="nombre del restaurante" name="name">
		</div>
	</div>

	<div class="form-goup">
	    <label for="id" class="control-label col-xs-3">ID del restaurante</label>
	    <div class="col-xs-9">
	    	<input type="text" class="form-control" id="id" placeholder="ID del restaurante" name="id">
		</div>
	</div>

	<div class="form-group">
	    <div class="col-xs-offset-2 col-xs-10">
	        <button type="submit" class="btn btn-default btn-lg btn-block" value="OK">Guardar</button>
	    </div>
	</div>

	</form>
	</small></div>
</div>

</form>

{% endblock %}