<div id="pagination">
{% extends "web.html" %}
{% block content %}

{% if r %}

<div class ="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading"><h3> Estos son todos los restaurantes: </h3></div>
			<div class="panel-body"> 
				
				<small>

					{% for rest in r.skip(pag - 20).limit(20) %}
						<p>{{ rest['name'] }}</p>
					{% endfor %}

				</small>
				{% if pag == 20 %}
				<ul class="pager">
					<button id="down" disabled=""> < </button>
					<button id="up"> > </button>
				</ul>
				{% else %}
				<ul class="pager">
					<button id="down" > < </button>
					<button id="up"> > </button>
				</ul>
				{% endif %}
				
			</div>
		</div>
	</div>

	<script>
	$(document).ready(function(){
	    $("#up").click(function(){
	        $.get("http://localhost:8080/BorrarRestaurante/"+ {{ pag + 20 }}, function(newpag){
	        	$("#pagination").html(newpag)
	        });
	    });
	    $("#down").click(function(){
	        $.get("http://localhost:8080/BorrarRestaurante/"+ {{ pag - 20 }}, function(newpag){
	        	$("#pagination").html(newpag)
	        });
	    });
	});
    </script>

	<div class="col-sm-6">
		<form action ="/BorrarRestaurante/20" method ="post">
			<div class="panel panel-default">
			<div class="panel-heading"><h3> Borra un restaurante: </h3></div>
			<div class="panel-body"> 
			<small>
			<form class="form-horizontal">

				<div class="form-goup">
				    <label for="name" class="control-label col-xs-2">Nombre</label>
				    <div class="col-xs-10">
				    	<input type="text" class="form-control" id="name" placeholder="Nombre del restaurante" name="name">
					</div>
				</div>

				<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-10">
			        <button type="submit" class="btn btn-default btn-lg btn-block" value="OK">Borrar</button>
			    </div>
				</div>
			</form>
			</small>
			</div>
			</div>
		</form>
	</div>
</div>

{% endif %}

{% endblock %}
</div>