{% extends "web.html" %}
{% block content %}



{% if restaurante %}
	<div class="panel panel-default">
	
	<div class="panel-heading"><h3> Los restaurantes encontrados son: </h3></div>
	<div class="panel-body"> 

	<button class="btn btn-default 1">Pulsa para aumentar</button>
	<button class="btn btn-default 2">Pulsa para disminuir</button>

		
	{% for r in restaurante %}
		<p><h3>{{ r['name'] }}</h3></p>
			<p>Cocina: {{ r['cuisine'] }}</p>
			<p>Calle: {{ r['address']['street'] }}</p>
			<p>Barrio: {{ r['borough'] }}</p>
	{% endfor %}
	
	<script>
	$(document).ready(function(){
		// Incrementar el tamaño de la fuente
		var tam = ("p").css("font-size")
		$("btn btn-default 1").click(function(){
			$("p").css("font-size", "200%");
		});
		// Disminuir el tamaño de la fuente
		var tam = ("p").css("font-size")
		$("btn btn-default 2").click(function(){
			$("p").css("font-size", "200%");
		});
	});
    </script>

	</div>
	</div>
{% endif %}

<form action ="/BuscarRestaurante" method ="post">

	<div class="panel panel-default">
		<div class="panel-heading"><h3> Busca un restaurante: </h3></div>
		<div class="panel-body"> 
		<small>
			<form class="form-horizontal">

			<div class="form-goup">
			    <label for="name" class="control-label col-xs-2">Nombre</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" id="name" placeholder="Nombre del restaurante" name="name">
				</div>
			</div>

			<div class="form-goup">
			    <label for="barrio" class="control-label col-xs-2">Barrio</label>
			    <div class="col-xs-10">
			    	<input type="text" class="form-control" id="barrio" placeholder="Barrio del restaurante" name="barrio">
				</div>
			</div>

			<div class="form-group">
			    <div class="col-xs-offset-2 col-xs-10">
			        <button type="submit" class="btn btn-default btn-lg btn-block" value="OK">Buscar</button>
			    </div>
			</div>

			</form>
		</small>
		</div>
	</div>

</form>
{% endblock %}