{% extends "web.html" %}
{% block content %}
  <h2>Welcome!</h2>
  	
  	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}
	{% endif %}
	<form class="form-horizontal">
		<form action ="/" method ="post">
			<div class="form-goup">
			    <label for="inputUser" class="control-label col-xs-2">Usuario</label>
			    <div class="col-xs-10">
	            	<input type="username" class="form-control" id="inputUser" placeholder="nombre de usuario">
	        	</div>
	        </div>

			<div class="form-group">
		        <label for="inputPassword" class="control-label col-xs-2">Password</label>
		        <div class="col-xs-10">
		            <input type="password" class="form-control" id="inputPassword" placeholder="contraseña">
		        </div>
	   		</div>

			<div class="form-group">
		        <label for="inputName" class="control-label col-xs-2">Nombre</label>
		        <div class="col-xs-10">
		            <input type="name" class="form-control" id="inputName" placeholder="nombre">
		        </div>
	   		</div>

			<div class="form-group">
		        <label for="inputFirstName" class="control-label col-xs-2">Primer apellido</label>
		        <div class="col-xs-10">
		            <input type="firstname" class="form-control" id="inputFirstName" placeholder="primer apellido">
		        </div>
	   		</div>

	   		<div class="form-group">
		        <label for="inputSecondName" class="control-label col-xs-2">Segundo apellido</label>
		        <div class="col-xs-10">
		            <input type="secondname" class="form-control" id="inputSecondName" placeholder="segundo apellido">
		        </div>
	   		</div>

				<p><input name="sexo" type="radio" value="masculino"/> Hombre</p>
				<p><input name="sexo" type="radio" value="femenino"/> Mujer</p>

			    <div class="form-group">
			        <div class="col-xs-offset-2 col-xs-10">
			            <button type="submit" class="btn btn-default btn-lg btn-block">Sign in</button>
			        </div>
	    		</div>
    	</form>
	</form>
{% endblock %}