{% extends "web.html" %}
{% block content %}

<div class="demo-content bg-alt">

      	<div class="list-group">
	        <p>
	          <a href="AgregarRestaurante" class="list-group-item">Agregar un restaurante nuevo</a>
	        </p>
	        <p>
	          <a href="BuscarRestaurante" class="list-group-item">Buscar un restaurante</a>
	        </p>
	        <p>
	          <a href="BorrarRestaurante/20" class="list-group-item">Borrar un restaurante</a>
	        </p>
	        <p>
	        	<a href="Grafica" class="list-group-item">Restaurantes por barrio</a>
	        </p>
	        <p>
	        	<a href="Mapa" class="list-group-item">Mapa de restaurantes</a>
	        </p>
	    </div>
</div>
{% endblock %}