{% extends "web.html" %}
{% block content %}

<div class="demo-content bg-alt">

      	<div class="list-group">
	        <p>
	          <a href="AgregarRestaurante" class="list-group-item">
	          <span class="glyphicon glyphicon-grain"></span>Agregar un restaurante nuevo</a>
	        </p>
	        <p>
	          <a href="BuscarRestaurante" class="list-group-item">
	          <span class="glyphicon glyphicon-grain"></span>Buscar un restaurante</a>
	        </p>
	        <p>
	          <a href="BorrarRestaurante/20" class="list-group-item">
	          <span class="glyphicon glyphicon-grain"></span>Borrar un restaurante</a>
	        </p>
	    </div>
</div>
{% endblock %}