{% extends "web.html" %}
{% block content %}

  <div class="panel panel-default">
  	<div class="panel-heading"><h2> Entrada básica <small><span class="label label-default">60€</span></small></h2></div>
  	<div class="panel-body"> 
  	Con esta entrada tendrás acceso a los distintos escenarios del recinto del festival. 
  	<p><small> Esta entrada no incluye acceso al camping </small></p>
  	<a href="#">¡La quiero!</a></div>
  </div>

  <div class="panel panel-default">
  	<div class="panel-heading"><h2> Entrada básica + Camping <small><span class="label label-default">75€</span></small></h2></div>
  	<div class="panel-body"> 
  	Con esta entrada tendrás acceso a los distintos escenarios del recinto del festival, además de acceso al camping durante los días del festival. 
  	<p><a href="#">¡La quiero!</a></p></div>
  </div>

  <div class="panel panel-default">
  	<div class="panel-heading"><h2> Entrada VIP <small><span class="label label-default">100€</span></small></h2></div>
  	<div class="panel-body"> 
  	Con esta entrada tendrás acceso a los distintos escenarios del recinto del festival, al camping durante los días del festival y a zonas con césped y descuentos en bebidas, además de acceso a espacios desde donde poder ver los conciertos de cerca. 
  	<p><a href="#">¡La quiero!</a></p></div>
  </div>

{% endblock %}