<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
	<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="../static/css/style3.css" title="style">-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <style type="text/css">
	    /* Some custom styles to beautify this example */
	    body{
	    	margin: 0;
	    }
	    .demo-content{
	        padding: 10px;
	        font-size: 15px;
	        min-height: 300px;
	        background: #ffffff;
	        margin-bottom: 3px;
	    }
	    .demo-content.bg-alt{
	        background: #fce3ec;
	    }
		.list-group{
			width: 300px;
		}
		.box{
			width: 110%;
		}
		#map{
			height:100%;
		}
		#bodymap{
			height:100%;
			width:100%;
			margin:0;
			padding:0;
		}
	</style>

  	<title>BUGANVILLA</title>
</head>

<body>
<!-- Contenedor -->
<div id="contenedor">
<div class="row">
  <!-- Cabecera -->
  <div class="col-md-6">
  	<div class="demo-content">
	  <div id="cabecera">
	  	<div class="page-header">
    		<h1><span class="glyphicon glyphicon-grain"></span> <span class="glyphicon glyphicon-grain"></span><small>Festival de Música </small>Buganvilla
    		 <span class="glyphicon glyphicon-grain"></span> <span class="glyphicon glyphicon-grain"></span></span></h1>
		</div>
	      <div class="box">
	      	<img src="/static/imagenes/Buganvillac.jpg" class="img-responsive">
	      </div>
	  </div>
	</div>
  </div>

  <!-- /Cabecera -->
  
  <!-- Menu principal -->

  <div class="col-md-6">
	  <div class="demo-content bg-alt">
	  {% if usuario %}
	  	<div class="page-header">
    		<h1><small>¡Bienvenidx </small>{{usuario}}!</h1>
		</div>
	
	  	<div class="container">
		    <form action ="/logout">
			    <button type="submit" value="Logout">Logout</button>
			</form>
	  	</div>
	  {% else %}
	    <div class="page-header">
    		<h1>¡Bienvenidx!</h1>
    		<form action ="/signin" method="post">
				<button type="submit" class="btn btn-default" value="Signin">sign in</button>
			</form>
		</div>
		    <form action ="/login" method ="post">
		    	<div class="form-group">
			    	<label for="inputUser"><b>usuario</b></label>
			    	<input type="user" class="form-control" placeholder="introduce usuario" name="username" required>
			    </div>
			    <div class="form-group">
			    	<label for="inputPassword"><b>contraseña</b></label>
			    	<input type="password" class="form-control" placeholder="introduce contraseña" name="password" required>
			    </div>
			    <button type="submit" class="btn btn-default btn-block" value="Login">login</button>
			</form>
			
			{% if error %}
				<p class="error"><strong>Ups!:</strong> {{ error }} </p>
			{% endif %}
	  {% endif %}
	  </div>
	</div>
</div>

<div class ="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		    <h2>¡Últimas entradas a la venta!</h2>
		    <div class="panel-body">No te quedes sin venir...
		    <a href="Entradas" class="btn btn-default">Quiero ir</a></div>
		</div>
	</div>
</div>
<div class ="row">
    <!-- Menu principal -->
    <div class="col-md-4">
	    <div class="row">
	    	<div class="col-md-12">
		    	<div class="demo-content bg-alt">

				    <div id="menu">
				      <h3>Menú</h3>
				      	<div class="list-group">
					      <ul id="menu_principal">
					        <p class="text-center">
					          <a href="http://localhost:8080/" class="list-group-item">
					          <span class="glyphicon glyphicon-grain"></span>  Buganvilla</a>
					        </p>
					        <p class="text-center">
					          <a href="http://localhost:8080/Programacion" class="list-group-item">
					          <span class="glyphicon glyphicon-headphones"></span>  Programación</a>
					        </p>
					        <p class="text-center">
					           <a href="http://localhost:8080/Informacion"class="list-group-item">
					          <span class="glyphicon glyphicon-question-sign"></span>  Información</a>
					        </p>
					        <p class="text-center">
					          <a href="http://localhost:8080/Entradas"class="list-group-item">
					          <span class="glyphicon glyphicon-shopping-cart"></span>  Entradas</a>
					        </p>
					        <p class="text-center">
					          <a href="http://localhost:8080/Perfil"class="list-group-item">
					          <span class="glyphicon glyphicon-user"></span>  Perfil</a>
					        </p>
					        <p class="text-center">
					          <a href="http://localhost:8080/Restaurantes"class="list-group-item">
					          <span class="glyphicon glyphicon-cutlery"></span>  Restaurantes</a>
					        </p>
					      </ul>
					    </div>
				    </div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="demo-content bg-alt">
				  	{% if usuario %}
				    <div id="noticias">
				      <h3>Recientemente...</h3>
				      {% if pags %}
				      	{% for pag in pags %}
				      		<p><a href= {{ pag }}>{{ pag }}</a></p>
				      	{% endfor %}
				      {% endif %}
				    </div>
				    <!-- /Noticias -->
				    {% endif %}
				</div>
			</div>
		</div>
	</div>


  <!-- /Lateral -->
 <div class="col-md-8">
		  
		  <!-- Principal -->

		  {% block content %}
		  	
		  	<h1><p class="text-center"><strong>27 28 29</strong> de MARZO 2017</p></h1>
		  	<!--<img src="/static/imagenes/buganvilla.jpg" class="img-rounded">-->
		  	<div class="embed-responsive embed-responsive-16by9">
		  		<iframe class="embed-responsive-item" src="//www.youtube.com/embed/wg9t5GkJRJQ"></iframe>
			</div>
		  
		  {% endblock %}

		  <!-- /Principal -->
  </div>
</div>

  <!-- /Contenido -->
<div class="row">
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-12">
			<div class="panel panel-default">
				
				<h3>BINAURAL<small>Últimas noticias</small></h3>
					<dl class="dl-horizontal">
					{% for new in news %}
						<h5><li><a href= {{ new.link }}>{{ new.title }}</a><small>{{ new.published }}</small></li></h5>
					{% endfor %}
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			<a class="twitter-timeline" data-width="650" data-height="400" data-theme="light" href="https://twitter.com/pitchforkfest">Pitchfork Music Festival</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<iframe src="https://embed.spotify.com/?uri=spotify:user:binaural_es:playlist:1IS9QwQvnrmCBhaO6upOwu" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div> 

  
    <!-- Pie -->
  <div id="pie" style="background:#fce3ec">
    <span class="enlaces">
      <a href="https://www.facebook.com/pitchforkparis">Facebook</a> |
      <a href="https://www.instagram.com/pitchforkparis">Instagram</a>
    </span>
    
    <span class="copyright">
       © 2016 Condé Nast. All rights reserved. Use of this site constitutes acceptance of our User Agreement and Privacy Policy. The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used, except with prior written permission of Condé Nast.
    </span>
    <div class="clear"></div>
  </div>
  <!-- /Pie -->

</div>
<!-- /Contenedor -->

</body></html>